<a href="https://colab.research.google.com/github/trungluu1711/phantichdulieuvahocsau/blob/master/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1:**

In [ ]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

**Example 2:**

In [ ]:
import pandas as pd
s=pd.Series([12,-4,7,9], index=['a','b','c','d'])
print(s)

a    12
b    -4
c     7
d     9
dtype: int64

**Example 3:**

In [ ]:

data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

**Example 4:**

In [ ]:
frame2 = pd.DataFrame (data, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

**Example 5:**

In [ ]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

**Example 6:**

In [ ]:

for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good'
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

**Example 7:**

In [ ]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

**Example 8:**

In [ ]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

**Example 9:**